* {
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
   color: #fff;
   letter-spacing: .1rem;
   font-weight: 400;
}
strong {
   font-weight: 600;
}
a {
   display: inline-block;
   text-decoration: none;
   border-bottom: 2px solid #fff;
   padding-bottom: 2px;
   opacity: .75;
}
a:hover {
   opacity: 1;
}
h1 {
   font-size: 3rem;
}
.refacturing {
   width: calc(100vw - 20px);
   height: calc(100vh - 20px);
   margin: 10px;
   background-color: #111821;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.refacturing * {
   color: #fff;
}
.refacturing img {
   /*border: 2px solid #fff;*/
}
.refacturing h1 {
   padding-top: 25px;
}

.contact {
   position: fixed;
   left: 0;
   bottom: 50px;
   width: 100vw;
   text-align: center;
}
.contact h3 {
   padding-bottom: 15px;
   opacity: .75;
}
@media only screen and (max-width: 480px) {
   h1 {
      font-size: 1.75rem;
   }
   h2 {
      font-size: 1.25rem;
   }
   h3 {
      font-size: 1rem;
   }
   h4 {
      font-size: 1rem;
   }
   .refacturing {
      justify-content: flex-start;
   }
   .refacturing img {
      padding-top: 15vh;
   }
   .refacturing h1 {
      padding: 10px;
   }
   .contact h3 {
      max-width: 90%;
      margin: auto;
   }
   .contact a {
      border: 2px solid #fff;
      padding: 10px 25px;
   }
}
